<div class="search-results"
     infinite-scroll
     [infiniteScrollDistance]="0"
     [infiniteScrollUpDistance]="0"
     [infiniteScrollThrottle]="100"
     (scrolled)="onScrollDown()"
     (scrolledUp)="onScrollUp()">

  <md-card *ngFor="let post of postes">
    <md-card-title><a href="{{post.url}}" target="_new">{{post.subject}}</a></md-card-title>
    <md-card-content>
      <p *ngFor="let ln of post.content_html">
        {{ln}}

    </md-card-content>
    <md-card-subtitle>{{post.member}} {{post.created_at}} </md-card-subtitle>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>
