<div class="search-results"
     infinite-scroll
     [infiniteScrollDistance]="0"
     [infiniteScrollUpDistance]="0"
     [infiniteScrollThrottle]="100"
     (scrolled)="onScrollDown()"
     (scrolledUp)="onScrollUp()">

  <md-card *ngFor="let post of postes">
    <md-card-title>{{post.subject}}</md-card-title>
    <md-card-content>
      <p *ngFor="let ln of post.content_html">
        {{ln}}
      </p>

    </md-card-content>
    <md-card-subtitle>{{post.member}} {{post.created_at | amTimeAgo}} </md-card-subtitle>
    <md-card-actions>
      <button md-button (click)="clicked(post.url)">DETAIL</button>
    </md-card-actions>
  </md-card>
</div>

